// COLORS

$background-gradient-1: #485461;
$background-gradient-2: #28313b;

$text-color: rgba(#FFF, .5);
$title-color: #FFF;
$subtitle-color: #FFF;
$menu-item-color: #FFF;
$anchor-color: #FFC25C;
$details-colors: #FFC25C;

// FONTS

$josefin: 'Josefin Sans', sans-serif;

// SIZES

$container-max-width: 1200px;